span.picture_upload {
    margin: 20px 20px;
    /* margin-top: 20px; */
    /* padding-top: 20px; */
    display: block;
    width: 20%;
}

.publish-button {
    background-color: #00ab6b !important;
}

.green-border-button div {
    background-color: #00ab6b !important;
}
.progress-public {
    
}

.add-article-component .textField {
    width: 100%;
}

.ql-container {
    min-height: 10em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
}
  
.ql-toolbar {
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: none;
}